<app-user></app-user>
<div class="container">
  <div id="user-tabs-comp">
    <div id="user-tabs-cont">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 no-float">
          <div class="tab-cont">
            <div class="tab-header">
              <div class="venue-name">Punter's Pub</div>
            </div>
            <div class="items">
              <div class="item-cont">
                <div class="item-name">Bud Light</div>
                <div class="item-price">$2.00</div>
              </div>
              <div class="item-cont">
                <div class="item-name">Corona</div>
                <div class="item-price">$3.00</div>
              </div>
              <div class="item-cont">
                <div class="item-name">Rolling Rock Pitcher</div>
                <div class="item-price">$9.00</div>
              </div>
            </div>
            <div class="tab-footer">
              <div class="close-tab">Close Tab</div>
              <div class="bill-total">$14.00</div>
            </div>
          </div>
          <div class="tab-cont">
            <div class="tab-header">
              <div class="venue-name">Punter's Pub</div>
            </div>
            <div class="items">
              <div class="item-cont">
                <div class="item-name">Bud Light</div>
                <div class="item-price">$2.00</div>
              </div>
              <div class="item-cont">
                <div class="item-name">Corona</div>
                <div class="item-price">$3.00</div>
              </div>
              <div class="item-cont">
                <div class="item-name">Rolling Rock Pitcher</div>
                <div class="item-price">$9.00</div>
              </div>
            </div>
            <div class="tab-footer">
              <div class="close-tab">Close Tab</div>
              <div class="bill-total">$14.00</div>
            </div>
          </div>
          <div class="tab-cont">
            <div class="tab-header">
              <div class="venue-name">Punter's Pub</div>
            </div>
            <div class="items">
              <div class="item-cont">
                <div class="item-name">Bud Light</div>
                <div class="item-price">$2.00</div>
              </div>
              <div class="item-cont">
                <div class="item-name">Corona</div>
                <div class="item-price">$3.00</div>
              </div>
              <div class="item-cont">
                <div class="item-name">Rolling Rock Pitcher</div>
                <div class="item-price">$9.00</div>
              </div>
            </div>
            <div class="tab-footer">
              <div class="close-tab">Close Tab</div>
              <div class="bill-total">$14.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
