<app-user></app-user>
<div class="container">
  <div id="user-tabs-comp">
    <div id="user-tabs-cont">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 no-float">
          <div *ngFor="let tab of tabs" class="tab-cont" attr.data-tabid="{{tab._id}}">
            <div class="tab-header">
              <div class="venue-name">{{tab.venueId.venueName}}</div>
              <div class="venue-city">{{tab.venueId.venueTownCity}}, {{tab.venueId.venueState}}</div>
              <div class="open-date">{{tab.openedAt}}</div>
            </div>
            <div class="all-items">
              <div *ngFor="let item of tab['items']" class="items">
                <div class="item-cont">
                  <div class="item-name">{{item.name}}</div>
                  <div class="item-price">{{item.price}}</div>
                </div>
              </div>
            </div>
            <div class="tab-footer">
              <div (click)="showTipPopUp($event)" class="close-tab">Close Tab</div>
              <div class="bill-total">$14.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentTabBeingClosed" id="tip-pop-up-cont" class="hide">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="tip-content">
          <div class="tip-header">Add a Tip</div>
          <div class="total-before-tip-cont">
            <div class="total-before-tip-label">Total Before Tip:</div>
            <div class="total-before-tip-amount">{{currentTabBeingClosed.total}}</div>
          </div>
          <div class="add-tip-cont">
            <div class="add-tip-input">
              Tip: <input #tipPercentage type="" value="20" /> %
            </div>
            <div #tipAmount class="add-tip-amount">{{currentTabBeingClosed.total}} * (tipPercentage / 100)</div>
          </div>
          <div class="total-after-tip-cont">
            <div class="total-after-tip-label">Total After Tip:</div>
            <div class="total-after-tip-amount">{{currentTabBeingClosed.total}} + tipAmount</div>
          </div>
          <div class="tip-and-close-cont">
            <a (click)="closeTab(currentTabBeingClose._id)" class="tip-and-close-tab">Tip and Close Tab</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
