#admin-scan-qr-comp #admin-scan-qr-cont .scanner-shell #scanner {
  max-width: 300px;
  display: block;
  margin: auto;
}
#admin-scan-qr-comp #admin-scan-qr-cont .scanner-shell p,
#admin-scan-qr-comp #admin-scan-qr-cont .scanner-shell div {
  text-align: center;
}
#admin-scan-qr-comp #admin-scan-qr-cont .after-scan {
  text-align: center;
}
#admin-scan-qr-comp #admin-scan-qr-cont .after-scan .continue-scanning-cont {
  display: inline-block;
  margin: auto;
}
#admin-scan-qr-comp #admin-scan-qr-cont .after-scan .continue-scanning-cont .btn {
  background-color: #1cb94e;
  outline: none;
  color: white;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 20px 40px;
  text-transform: uppercase;
  border-color: #1cb94a;
}
#admin-scan-qr-comp #admin-scan-qr-cont .no-back-camera {
  text-align: center;
  margin-top: 100px;
  font-size: 32px;
}
#admin-scan-qr-comp #admin-scan-qr-cont .permission-undefined {
  text-align: center;
  margin-top: 100px;
  font-size: 32px;
}
#admin-scan-qr-comp #admin-scan-qr-cont .permission-false {
  text-align: center;
  margin-top: 100px;
  font-size: 32px;
}
