<app-admin></app-admin>
<div class="container">
  <div id="admin-profile-comp">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-float">
        <div class="profile-image-cont">
          <div class="profile-image">
            <img src="assets/images/runningTab.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 no-float">
        <div class="venue-info">
          <div class="venue-name">{{venueName}}</div>
          <div class="city">{{venueTownCity}}</div>
          <div class="state">{{venueState}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
