#admin-profile-comp .profile-image-cont .profile-image img {
  padding-left: 10px;
  width: 200px;
  display: block;
  margin: auto;
}
#admin-profile-comp .venue-info {
  text-align: center;
  margin-bottom: 25px;
}
#admin-profile-comp .venue-info .venue-name {
  font-size: 34px;
  font-weight: bold;
}
#admin-profile-comp .venue-info .city {
  font-size: 30px;
}
#admin-profile-comp .venue-info .state {
  font-size: 30px;
}
