<app-admin></app-admin>
<div class="container">
  <div id="admin-past-bills-comp">
    <div id="admin-past-bills-cont">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 no-float">
          <div *ngFor="let tab of tabs" class="tab-cont" attr.data-tabid="{{tab._id}}">
            <div class="tab-header">
              <div class="customer-name">{{tab.userId.fullName}}</div>
              <div class="time-tab-closed">Closed On:  {{tab.closedAt}}</div>
              <div class="time-tab-opened">Opened On: {{tab.openedAt}}</div>
              <a class="arrow" (click)="toggleArrow($event)">
                <img class="arrow-icon" src="assets/images/arrow-down.png" />
              </a>
            </div>
            <div class="all-items">
              <div  *ngFor="let item of tab['items']" class="items">
              <div class="item-cont">
                <div class="item-name">{{item.name}}</div>
                <div class="item-price">${{item.price}}</div>
              </div>
              </div>
            </div>
            <div class="sub-total-cont">
              <div class="sub-total-label">Sub Total:</div>
              <div class="sub-total-cost">$14.00</div>
            </div>
            <div class="tip-cont">
              <div class="tip-label">Tip:</div>
              <div class="tip-paid">$3.00</div>
            </div>
            <div class="total-cont">
              <div class="total-label">Total:</div>
              <div class="total-paid">$17.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
