<app-admin></app-admin>
<div class="container">
  <div id="admin-menu-comp">
    <div id="admin-menu-cont">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 no-float">
          <div id="menu-cont">
            <div id="menu-header">My Menu</div>
            <div id="menu-content">
              <div class="category-cont">
                <div class="category-name">Pizza</div>
                <div class="item-cont hide">
                  <div class="item-name">Pepperoni Slice</div>
                  <div class="item-right-side">
                    <div class="item-price">$2.50</div>
                    <div class="remove-item">Remove</div>
                  </div>
                </div>
                <div class="add-item-dialogue hide">
                  <div class="row">
                    <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10 add-item-name-cont">
                      <input type="text" name="item-name" class="add-item-name form-control" placeholder="Name" value="">
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 add-item-price-cont">
                      <input type="text" name="item-price" class="add-item-price form-control" placeholder="Price" value="">
                    </div>
                  </div>
                  <div class="add-item-buttons">
                    <div class="cancel-item">Cancel</div>
                    <div class="save-item">Save</div>
                  </div>
                </div>
                <div id="add-item">Add Item</div>
              </div>
            </div>
            <div class="menu-footer">
              <div class="import-menu">Import Menu</div>
              <div class="remove-all-items">Remove All Items</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
