<app-admin></app-admin>
<div class="container">
  <div id="admin-menu-comp">
    <div id="admin-menu-cont">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 no-float">
          <div id="menu-cont">
            <div id="menu-header">My Menu</div>
            <div id="menu-content" attr.data-menuid="{{menuId}}">
              <div class="categories-label">Categories:</div>
                <div *ngFor="let menuCategory of menuCategories" class="category-cont" attr.data-menucategoryid="{{menuCategory._id}}">
                  <a class="category-header" (click)="expandItems($event)">
                    <div class="category-name">{{menuCategory.name}}</div>
                    <div class="category-arrow">
                      <img class="arrow-icon" src="assets/images/arrow-down.png" />
                    </div>
                  </a>
                  <div class="category-items">
                    <div *ngFor="let item of menuCategory['items']">
                      <div class="item-cont" attr.data-itemid="{{item._id}}">
                        <div class="item-name">{{item.name}}</div>
                        <div class="item-right-side">
                          <div class="item-price">{{item.price}}</div>
                          <a class="remove-item" (click)="removeItem($event)">Remove</a>
                        </div>
                      </div>
                    </div>
                    <div *ngFor="let newItemDialogue of newItemDialogues[menuCategory._id]" class="add-item-dialogue">
                      <div class="row">
                        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10 add-item-name-cont">
                          <input type="text" name="item-name" class="add-item-name form-control" placeholder="Name" value="">
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 add-item-price-cont">
                          <input type="text" name="item-price" class="add-item-price form-control" placeholder="Price" value="">
                        </div>
                      </div>
                      <div class="add-item-buttons">
                        <a class="cancel-item" (click)="hideItemForm(menuCategory._id)">Cancel</a>
                        <a class="save-item" (click)="addItem($event)">Save</a>
                      </div>
                    </div>
                    <a class="add-item" (click)="showItemForm(menuCategory._id)">Add Item</a>
                    <a class="remove-category" (click)="removeCategory($event)">Remove Category</a>
                  </div>
                </div>
              </div>
              <div *ngFor="let newCategoryDialogue of newCategoryDialogues" class="add-category-dialogue">
                <div class="add-category-name-cont">
                  <input type="text" name="category-name" class="add-category-name form-control" placeholder="Name" value="">
                </div>
                <div class="add-category-buttons">
                  <a class="cancel-category" (click)="hideCategoryForm($event)">Cancel</a>
                  <a class="save-category" (click)="addCategory($event)">Save</a>
                </div>
              </div>
              <a id="add-category" (click)="showCategoryForm()">Add Category</a>
              <div class="menu-footer">
                <a class="import-menu" >Import Menu</a>
                <a class="remove-all" (click)="removeAll($event)">Remove All</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
