#admin-menu-comp #admin-menu-cont #menu-cont {
  background: white;
  padding: 20px;
  border-radius: 20px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-header {
  font-size: 28px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .categories-label {
  font-size: 22px;
  padding: 10px 0;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont {
  margin-bottom: 15px;
  background: #77a6f7;
  border-radius: 10px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-header {
  cursor: pointer;
  padding: 10px 0;
  text-indent: 5px;
  color: black;
  display: block;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-header .category-name {
  font-size: 22px;
  display: inline-block;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-header .category-arrow {
  display: inline-block;
  float: right;
  margin-right: 10px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-header .category-arrow img {
  height: 30px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items {
  display: none;
  padding: 0 30px;
  border-radius: 10px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .item-cont {
  padding: 10px 0;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .item-cont .item-name {
  display: inline-block;
  font-size: 18px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .item-cont .item-right-side {
  display: inline-block;
  float: right;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .item-cont .item-right-side .item-price {
  display: inline-block;
  font-size: 18px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .item-cont .item-right-side .remove-item {
  display: inline-block;
  float: right;
  padding: 3px 15px;
  background: #ffccbc;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  color: black;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .add-item {
  padding: 10px 30px;
  background: #00887a;
  color: white;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px 0 10px 0;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .remove-category {
  padding: 10px 30px;
  background: #ffccbc;
  color: white;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px 0 10px 0;
  float: right;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .add-item-dialogue {
  margin: 15px 0 10px 0;
  padding: 10px 10px 60px 10px;
  background: #f2f2f2;
  border-radius: 10px;
  border: 1px solid #333333;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .add-item-dialogue .add-item-name-cont,
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .add-item-dialogue .add-item-price-cont {
  padding: 0;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .add-item-dialogue .add-item-buttons {
  float: right;
  margin-top: 10px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .add-item-dialogue .add-item-buttons .cancel-item {
  display: inline-block;
  padding: 10px 20px;
  background: grey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .category-cont .category-items .add-item-dialogue .add-item-buttons .save-item {
  display: inline-block;
  float: right;
  padding: 10px 20px;
  background: grey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content #add-category {
  padding: 10px 30px;
  background: #00887a;
  color: white;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  border: 1px solid #333333;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .add-category-dialogue {
  margin-bottom: 10px;
  padding: 10px 10px 60px 10px;
  background: #f2f2f2;
  border-radius: 10px;
  border: 1px solid #333333;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .add-category-dialogue .add-category-name-cont {
  padding: 0;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .add-category-dialogue .add-category-buttons {
  float: right;
  margin-top: 10px;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .add-category-dialogue .add-category-buttons .cancel-category {
  display: inline-block;
  padding: 10px 20px;
  background: grey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#admin-menu-comp #admin-menu-cont #menu-cont #menu-content .add-category-dialogue .add-category-buttons .save-category {
  display: inline-block;
  float: right;
  padding: 10px 20px;
  background: grey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}
#admin-menu-comp #admin-menu-cont #menu-cont .menu-footer {
  padding-top: 15px;
  border-top: black 1px solid;
}
#admin-menu-comp #admin-menu-cont #menu-cont .menu-footer .import-menu {
  display: inline-block;
  padding: 10px 30px;
  background: #d3e3fc;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #333333;
  color: white;
}
#admin-menu-comp #admin-menu-cont #menu-cont .menu-footer .remove-all {
  display: inline-block;
  float: right;
  padding: 10px 30px;
  background: #ffccbc;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #333333;
  color: white;
}
