<app-admin></app-admin>
<div class="container">
  <div id="admin-open-bills-comp">
    <div id="admin-open-bills-cont">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 no-float">
          <div class="tab-cont">
            <div class="tab-header">
              <div class="table-number">Table 12</div>
              <div class="server-name">Server: Jackie</div>
              <div class="time-tab-opened">Started at 6:33pm</div>
            </div>
            <div class="items">
              <div class="item-cont">
                <div class="item-name">Bud Light</div>
                <div class="item-price">$2.00</div>
              </div>
              <div class="item-cont">
                <div class="item-name">Corona</div>
                <div class="item-price">$3.00</div>
              </div>
              <div class="item-cont">
                <div class="item-name">Rolling Rock Pitcher</div>
                <div class="item-price">$9.00</div>
              </div>
            </div>
            <div class="total-cont">
              <div class="total-label">Total:</div>
              <div class="total-cost">$14.00</div>
            </div>
            <div class="tab-footer">
              <div class="add-item">Add Item</div>
              <div class="close-tab">Close Tab</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
