.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont {
  background: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .tab-header {
  margin-bottom: 15px;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .tab-header .table-number {
  font-size: 26px;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .tab-header .server-name {
  font-size: 20px;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .tab-header .time-tab-opened {
  font-size: 16px;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .items {
  margin-bottom: 15px;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .items .item-cont {
  display: block;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .items .item-cont .item-name {
  display: inline-block;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .items .item-cont .item-price {
  float: right;
  display: inline-block;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .total-cont {
  margin-bottom: 15px;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .total-cont .total-label {
  display: inline-block;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .total-cont .total-cost {
  float: right;
  display: inline-block;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .tab-footer .add-item {
  padding: 10px 30px;
  background: green;
  color: white;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
}
.container #admin-open-bills-comp #admin-open-bills-cont .tab-cont .tab-footer .close-tab {
  padding: 10px 30px;
  background: red;
  color: white;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  float: right;
}
.container #add-item-pop-up {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
}
.container #add-item-pop-up #category-holder .category-cont {
  height: 75px;
  background: dodgerblue;
  color: white;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
}
.container #add-item-pop-up #item-holder .add-item-cont {
  height: 75px;
  background: dodgerblue;
  color: white;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
}
