/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100% !important;
  width: 100% !important;
  background: #efeff5;
}

.container {
  padding: 0;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.no-float {
  display: block;
  margin: auto;
  float: none !important;
}

.flip {
  transform: rotate(-180deg);
}

.hide {
  display: none;
}

